<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <title>Calculador Avanzado</title>

</head>
<style>
    nav {
        background-image: linear-gradient(to right, #0077be, #000000);
        align-items: center;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-gradient-primary">
        <div class="container">
            <a class="navbar-brand text-white" href="#" style="color: whitesmoke">
                <i class="fa fa-plus"> Solucionador de funciones <i class="fa fa-minus"></i> </i></a>
        </div>
    </nav>
    <div class="container">
        {%block content%}
        {%endblock%}
    </div>




    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>