{% extends "layout.html" %}
{%block content%}
<div class="row-2">

    <div style="margin: 10px; border: 1px solid black;">
        <form>
            <div class="form-group text-center">
                <label for="resueltas">Las operaciones resueltas son:</label>
                <textarea class="form-control" id="resueltas" name="resueltas" rows="5">{{ resultado }}</textarea>
            </div>
            <div class="form-group text-center">
                <label for="resultadoTEST">Los resultados del test son: </label>
                <textarea class="form-control" id="resultadoTEST" name="resultadoTEST">{{ test }}</textarea>
            </div>
        </form>
    </div>

</div>

{%endblock%}